In [3]:
def name_correction(state):
        if state == 'TT':
            state = "India(Total cases)"
            return state
        
        if state == 'AN':
            state = "Andaman and Nikobar Islands"
            return state
        
        if state == 'AP':
            state = "Andhra Pradesh"
            return state
        
        if state == 'AR':
            state = "Arunachal Pradesh"
            return state
        
        if state == 'AS':
            state = "Assam"
            return state
        
        if state == 'BR':
            state = "Bihar"
            return state
        
        if state == 'CH':
            state = "Chandigarh"
            return state
        
        if state == 'CT':
            state = "Chhattisgarh"    
            return state
        
        if state == 'DL':
            state = "Delhi"
            return state
        
        if state == 'DN':
            state = "Dadra NHDD"
            return state
        
        if state == 'GA':
            state = "Goa"
            return state
        
        if state == 'GJ':
            state = "Gujarat"
            return state
        
        if state == 'HP':
            state = "Himachal Pradesh"
            return state
        
        if state == 'HR':
            state = "Haryana"
            return state
        
        if state == 'JH':
            state = "Jharkhand"
            return state
        
        if state == 'JK':
            state = "Jammu and Kashmir"
            return state
        
        if state == 'KA':
            state = "Karnataka"
            return state
        
        if state == 'KL':
            state = "Kerala"
            return state
        
        if state == 'LA':
            state = "Ladakh"
            return state
        
        if state == 'MH':
            state = "Maharashtra"
            return state
        
        if state == 'ML':
            state = "Meghalaya"
            return state
        
        if state == 'MN':
            state ="Manipur"
            return state
        
        if state == 'MP':
            state = "Madhya Pradesh"
            return state
        
        if state == 'MZ':
            state = "Mizoram"
            return state
            
        if state == 'NL':
            state = "Nagaland"
            return state
        
        if state == 'OR':
            state ="Odisha"
            return state
        
        if state == 'PB':
            state = "Punjab"
            return state
        
        if state == 'PY':
            state = "Puducherry"
            return state
        
        if state == 'RJ':
            state = "Rajasthan"
            return state
        
        if state == 'SK':
            state ="Sikkim"
            return state
        
        if state == 'TG':
            state ="Telangana"
            return state
        
        if state == 'TN':
            state ="Tamil Nadu"
            return state
        
        if state == 'TR':
            state = "Tripura"
            return state
        
        if state == 'UP':
            state ="Uttar Pradesh"
            return state
        
        if state == 'UT':
            state = "Uttarakhand"
            return state
        
        if state == 'WB':
            state = "West Bengal"
            return state

In [4]:
# Covid19 Statewise data(creating a separate csv as City specific CSV does not have data of some small towns which affects the overall state specific numbers)
import requests
import csv
import json
import pandas as pd
from pandas import DataFrame as df
import os
import numpy as np

JSON_URL = 'https://api.covid19india.org/v4/min/timeseries.min.json'

state_name  = []
dtcolNames =[]
covidData =[]
covidRec = []
covidDeath = []


#df = pd.read_json(JSON_URL)
req = requests.get(JSON_URL)


stateNames = df(req.json())
statesData = stateNames.T


for st in statesData.index:
    state_name.append(st)

unwanted_st = {'UN', 'Other State', 'Other Region', 'Other', 'Unknown'} 
state_name = [ele for ele in state_name if ele not in unwanted_st]


# # In case of fixed Dates
date_ = df(req.json()['TT'])
for dt in date_.index:
    dtcolNames.append(dt + ",")
    

for state in state_name:   
    
    st_name = name_correction(state)
    #print(st_name)
  
    i=0
    covidData.append('\n')
    covidData.append(st_name + "," + state + "," )
    
    covidRec.append('\n')
    covidRec.append(st_name + "," + state + "," )
    
    covidDeath.append('\n')
    covidDeath.append(st_name + "," + state + "," )
    
    covid = df(req.json()[state])

     
            
    for conf, dt in zip(covid.dates, covid.index):
        dt = dt + ","
        i+=1
        index = dtcolNames.index(dt) + 1
        if i!= index:
           #print(st + ":" + dist + ":" + dt + ":  Ind: " + str(index) + ":" +  "i :" + str(i))
           if i == 1:
               for n in range(index-1):
                   covidData.append("0,")
                   covidRec.append("0,")
                   covidDeath.append("0,")
           else:    
               for n in range(index-i+1):
                   covidData.append("0,")
                   covidRec.append("0,")
                   covidDeath.append("0,")
                   
           i = index             
            
        
        for t in conf.keys():
            if 'total' in t:
                if 'confirmed' in (conf['total'].keys()):
                    covidData.append(str(conf['total']['confirmed']) + ",")
                if not 'confirmed' in (conf['total'].keys()):
                    covidData.append("0,")
                   
                if 'recovered' in (conf['total'].keys()):
                    covidRec.append(str(conf['total']['recovered']) + ",")
                if not 'recovered' in (conf['total'].keys()):
                    covidRec.append("0,")
                   
                if 'deceased' in (conf['total'].keys()):
                    covidDeath.append(str(conf['total']['deceased']) + ",")
                if not 'deceased' in (conf['total'].keys()):
                    covidDeath.append("0,")
          
    if dt != dtcolNames[len(dtcolNames)-1]:
          diff = len(dtcolNames) - dtcolNames.index(dt)
          for n in range(diff):
              covidData.append(covidData[len(covidData)-1])
              covidDeath.append(covidDeath[len(covidRec)-1])
              covidRec.append(covidRec[len(covidRec)-1])         


with open('Indian_States_total_confirmed_cases.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidData)
    
with open('Indian_States_total_recovered_cases.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidRec)

with open('Indian_States_total_Death_toll.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidDeath)

In [5]:
IN_data_st = pd.read_csv("./Indian_States_total_confirmed_cases.csv")
col_no_st = len(IN_data_st.columns) - 2 
#col_no_st
IN_conf_st = IN_data_st.columns[col_no_st]
#IN_conf_st
IN_data_st.rename(columns = {IN_conf_st:'Confirmed_Cases'}, inplace = True)
#IN_data_st
IN_st = IN_data_st.drop(IN_data_st.columns[3:col_no_st], axis =1)
IN_conf_covid_st = IN_st.drop(IN_st.columns[[2,4]], axis =1)
IN_conf_covid_st.head()

                         State State Code  Confirmed_Cases
0  Andaman and Nikobar Islands         AN             3521
1               Andhra Pradesh         AP           557587
2            Arunachal Pradesh         AR             5961
3                        Assam         AS           140471
4                        Bihar         BR           156866

In [6]:
IN_data_dt_st = pd.read_csv("./Indian_States_total_Death_toll.csv")
#IN_data_dt_st.head()
IN_data_rec_st = pd.read_csv("./Indian_States_total_recovered_cases.csv")
#IN_data_rec_st.head()

col_rec_st = len(IN_data_rec_st.columns) - 2
col_name_rec_st = IN_data_rec_st.columns[col_rec_st]
IN_conf_covid_st['Recovered_Cases'] = IN_data_rec_st[col_name_rec_st].values
#IN_conf_covid_st

col_dt_st = len(IN_data_dt_st.columns) - 2
col_name_dt_st = IN_data_dt_st.columns[col_dt_st]
IN_conf_covid_st['Death_Toll'] = IN_data_dt_st[col_name_dt_st].values
IN_conf_covid_st['Country'] = 'India'
#IN_conf_covid_st

In [7]:
active_st = []
for i,j,k in zip(IN_conf_covid_st['Confirmed_Cases'], IN_conf_covid_st['Recovered_Cases'], IN_conf_covid_st['Death_Toll']):
    val_st = i-(j+k)
    if val_st <0:
        val_st = 0
    active_st.append(val_st)

IN_conf_covid_st['Active_Cases'] = active_st
IN_conf_covid_st

,State,State Code,Confirmed_Cases,Recovered_Cases,Death_Toll,Country,Active_Cases
0,Andaman and Nikobar Islands,AN,3521,3202,51,India,268
1,Andhra Pradesh,AP,557587,457008,4846,India,95733
2,Arunachal Pradesh,AR,5961,4253,10,India,1698
3,Assam,AS,140471,110883,453,India,29135
4,Bihar,BR,156866,141158,808,India,14900
5,Chandigarh,CH,7542,4864,89,India,2589
6,Chhattisgarh,CT,61763,27978,539,India,33246
7,Delhi,DL,214069,181295,4715,India,28059
8,Dadra NHDD,DN,2706,2418,2,India,286
9,Goa,GA,24185,18576,286,India,5323
10,Gujarat,GJ,112336,92905,3196,India,16235
11,Himachal Pradesh,HP,9229,5947,72,India,3210
12,Haryana,HR,91115,70713,956,India,19446
13,Jharkhand,JH,60460,45074,542,India,14844
14,Jammu and Kashmir,JK,52410,35285,864,India,16261
15,Karnataka,KA,449551,344556,7161,India,97834
16,Kerala,KL,105140,75844,426,India,28870
17,Ladakh,LA,3294,2414,39,India,841
18,Maharashtra,MH,1037765,728512,29115,India,280138
19,Meghalaya,ML,3615,2020,25,India,1570
20,Manipur,MN,7731,6102,45,India,1584
21,Madhya Pradesh,MP,85966,64398,1728,India,19840
22,Mizoram,MZ,1414,823,0,India,591
23,Nagaland,NL,5064,3822,8,India,1234
24,Odisha,OR,150807,115279,679,India,34849
25,Punjab,PB,77057,55385,2288,India,19384
26,Puducherry,PY,19445,14228,370,India,4847
27,Rajasthan,RJ,100705,82902,1221,India,16582
28,Sikkim,SK,2055,1503,13,India,539
29,Telangana,TG,157096,124528,961,India,31607
30,Tamil Nadu,TN,497066,441649,8307,India,47110
31,Tripura,TR,18929,11132,194,India,7603
32,India(Total cases),TT,4764786,3708257,78727,India,977802
33,Uttar Pradesh,UP,312036,239485,4429,India,68122
34,Uttarakhand,UT,30336,20031,402,India,9903
35,West Bengal,WB,199493,172085,3887,India,23521

In [8]:
#Drop India(Total cases)
IN_conf_covid_st_sca = IN_conf_covid_st.drop(index =32)
IN_conf_covid_st_sca

,State,State Code,Confirmed_Cases,Recovered_Cases,Death_Toll,Country,Active_Cases
0,Andaman and Nikobar Islands,AN,3521,3202,51,India,268
1,Andhra Pradesh,AP,557587,457008,4846,India,95733
2,Arunachal Pradesh,AR,5961,4253,10,India,1698
3,Assam,AS,140471,110883,453,India,29135
4,Bihar,BR,156866,141158,808,India,14900
5,Chandigarh,CH,7542,4864,89,India,2589
6,Chhattisgarh,CT,61763,27978,539,India,33246
7,Delhi,DL,214069,181295,4715,India,28059
8,Dadra NHDD,DN,2706,2418,2,India,286
9,Goa,GA,24185,18576,286,India,5323
10,Gujarat,GJ,112336,92905,3196,India,16235
11,Himachal Pradesh,HP,9229,5947,72,India,3210
12,Haryana,HR,91115,70713,956,India,19446
13,Jharkhand,JH,60460,45074,542,India,14844
14,Jammu and Kashmir,JK,52410,35285,864,India,16261
15,Karnataka,KA,449551,344556,7161,India,97834
16,Kerala,KL,105140,75844,426,India,28870
17,Ladakh,LA,3294,2414,39,India,841
18,Maharashtra,MH,1037765,728512,29115,India,280138
19,Meghalaya,ML,3615,2020,25,India,1570
20,Manipur,MN,7731,6102,45,India,1584
21,Madhya Pradesh,MP,85966,64398,1728,India,19840
22,Mizoram,MZ,1414,823,0,India,591
23,Nagaland,NL,5064,3822,8,India,1234
24,Odisha,OR,150807,115279,679,India,34849
25,Punjab,PB,77057,55385,2288,India,19384
26,Puducherry,PY,19445,14228,370,India,4847
27,Rajasthan,RJ,100705,82902,1221,India,16582
28,Sikkim,SK,2055,1503,13,India,539
29,Telangana,TG,157096,124528,961,India,31607
30,Tamil Nadu,TN,497066,441649,8307,India,47110
31,Tripura,TR,18929,11132,194,India,7603
33,Uttar Pradesh,UP,312036,239485,4429,India,68122
34,Uttarakhand,UT,30336,20031,402,India,9903
35,West Bengal,WB,199493,172085,3887,India,23521

In [9]:
df = pd.DataFrame(IN_conf_covid_st_sca)
gfg_csv_data = df.to_csv('tableau_covid19.csv', index = True)