In [1]:
#Python- Deletion operation

pid=int(input("enter pid whose record u want to delete :"))

import MySQLdb

db=MySQLdb.connect("localhost","root","root","pyprojectdb")

cursor = db.cursor()

sqlquery = "delete from product where pid=%s"

try:
    cursor.execute(sqlquery,(pid,))
    db.commit()
except:
    db.rollback()
    
print("Record deleted successfully...!")
db.close()

enter pid whose record u want to delete :102
Record deleted successfully...!

In [3]:
#Python- Finding total no. of records

import MySQLdb

db=MySQLdb.connect("localhost","root","root","pyprojectdb")

cursor = db.cursor()

sqlquery = "select count(*) from customer"

cursor.execute(sqlquery)

data = cursor.fetchone()
    
print("Total records are :",data[0])
db.close()

Total records are : 3

In [9]:
import MySQLdb

db=MySQLdb.connect("localhost","root","root","pyprojectdb")

cursor = db.cursor()

sqlquery = "select * from customer order by cid desc"

cursor.execute(sqlquery)

data = cursor.fetchall()

for row in data:
    print(row)
    
db.close()

(103, 'Kelly', 'kell123@gmail.com', 9999988888)
(102, 'Williams', 'williams@gmail.com', 9988776655)
(101, 'John', 'john@gmail.com', 9986754533)

In [17]:
import MySQLdb

ccode=input("Enter country code betweeen-'IND,AFG,NLD' :")

db=MySQLdb.connect("localhost","root","root","world")

cursor = db.cursor()

sqlquery = "select * from city where countrycode=%s"

cursor.execute(sqlquery,(ccode,))

#data = cursor.fetchone()
#print("Total cities : ",data[0])

data = cursor.fetchall()

for row in data:
    print(row)
    
db.close()

Enter country code betweeen-'IND,AFG,NLD' :AFG
(1, 'Kabul', 'AFG', 'Kabol', 1780000)
(2, 'Qandahar', 'AFG', 'Qandahar', 237500)
(3, 'Herat', 'AFG', 'Herat', 186800)
(4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800)

In [22]:
import MySQLdb

db=MySQLdb.connect("localhost","root","root","world")

cursor = db.cursor()

sqlquery = "select * from city where population < 100000 and countrycode='IND'"

cursor.execute(sqlquery)

#data = cursor.fetchone()
#print("Total cities : ",data[0])

data = cursor.fetchall()

for row in data:
    print(row)
    
db.close()

(1334, 'Champdani', 'IND', 'West Bengali', 98818)
(1335, 'Orai', 'IND', 'Uttar Pradesh', 98640)
(1336, 'Pudukkottai', 'IND', 'Tamil Nadu', 98619)
(1337, 'Sasaram', 'IND', 'Bihar', 98220)
(1338, 'Hazaribag', 'IND', 'Jharkhand', 97712)
(1339, 'Palayankottai', 'IND', 'Tamil Nadu', 97662)
(1340, 'Banda', 'IND', 'Uttar Pradesh', 97227)
(1341, 'Godhra', 'IND', 'Gujarat', 96813)
(1342, 'Hospet', 'IND', 'Karnataka', 96322)
(1343, 'Ashoknagar-Kalyangarh', 'IND', 'West Bengali', 96315)
(1344, 'Achalpur', 'IND', 'Maharashtra', 96216)
(1345, 'Patan', 'IND', 'Gujarat', 96109)
(1346, 'Mandasor', 'IND', 'Madhya Pradesh', 95758)
(1347, 'Damoh', 'IND', 'Madhya Pradesh', 95661)
(1348, 'Satara', 'IND', 'Maharashtra', 95133)
(1349, 'Meerut Cantonment', 'IND', 'Uttar Pradesh', 94876)
(1350, 'Dehri', 'IND', 'Bihar', 94526)
(1351, 'Delhi Cantonment', 'IND', 'Delhi', 94326)
(1352, 'Chhindwara', 'IND', 'Madhya Pradesh', 93731)
(1353, 'Bansberia', 'IND', 'West Bengali', 93447)
(1354, 'Nagaon', 'IND', 'Assam', 93350)
(1355, 'Kanpur Cantonment', 'IND', 'Uttar Pradesh', 93109)
(1356, 'Vidisha', 'IND', 'Madhya Pradesh', 92917)
(1357, 'Bettiah', 'IND', 'Bihar', 92583)
(1358, 'Purulia', 'IND', 'Jharkhand', 92574)
(1359, 'Hassan', 'IND', 'Karnataka', 90803)
(1360, 'Ambala Sadar', 'IND', 'Haryana', 90712)
(1361, 'Baidyabati', 'IND', 'West Bengali', 90601)
(1362, 'Morvi', 'IND', 'Gujarat', 90357)
(1363, 'Raigarh', 'IND', 'Chhatisgarh', 89166)
(1364, 'Vejalpur', 'IND', 'Gujarat', 89053)

In [24]:
import MySQLdb

db=MySQLdb.connect("localhost","root","root","world")

cursor = db.cursor()

sqlquery = "select * from city where countrycode='IND' and name like '%i'"

cursor.execute(sqlquery)

#data = cursor.fetchone()
#print("Total cities : ",data[0])

data = cursor.fetchall()

for row in data:
    print(row)
    
db.close()

(1025, 'Delhi', 'IND', 'Delhi', 7206704)
(1042, 'Madurai', 'IND', 'Tamil Nadu', 977856)
(1062, 'Ranchi', 'IND', 'Jharkhand', 599306)
(1083, 'Amravati', 'IND', 'Maharashtra', 421576)
(1091, 'Tiruchirapalli', 'IND', 'Tamil Nadu', 387223)
(1092, 'Bhilai', 'IND', 'Chhatisgarh', 386159)
(1093, 'Bhiwandi', 'IND', 'Maharashtra', 379070)
(1109, 'New Delhi', 'IND', 'Delhi', 301297)
(1110, 'Jhansi', 'IND', 'Uttar Pradesh', 300850)
(1114, 'Panihati', 'IND', 'West Bengali', 275990)
(1118, 'Kamarhati', 'IND', 'West Bengali', 266889)
(1144, 'Ichalkaranji', 'IND', 'Maharashtra', 214950)
(1158, 'Sangli', 'IND', 'Maharashtra', 193197)
(1159, 'Parbhani', 'IND', 'Maharashtra', 190255)
(1166, 'Avadi', 'IND', 'Tamil Nadu', 183215)
(1178, 'Tirupati', 'IND', 'Andhra Pradesh', 174369)
(1222, 'Tenali', 'IND', 'Andhra Pradesh', 143726)
(1231, 'Pali', 'IND', 'Rajasthan', 136842)
(1233, 'Adoni', 'IND', 'Andhra Pradesh', 136182)
(1235, 'Tirunelveli', 'IND', 'Tamil Nadu', 135825)
(1237, 'Gadag Betigeri', 'IND', 'Karnataka', 134051)
(1242, 'Naihati', 'IND', 'West Bengali', 132701)
(1246, 'Rae Bareli', 'IND', 'Uttar Pradesh', 129904)
(1251, 'Navsari', 'IND', 'Gujarat', 126089)
(1252, 'Malkajgiri', 'IND', 'Andhra Pradesh', 126066)
(1257, 'Puri', 'IND', 'Orissa', 125199)
(1270, 'Bhiwani', 'IND', 'Haryana', 121629)
(1279, 'Neyveli', 'IND', 'Tamil Nadu', 118080)
(1299, 'Tiruvannamalai', 'IND', 'Tamil Nadu', 109196)
(1303, 'Shivapuri', 'IND', 'Madhya Pradesh', 108277)
(1311, 'Valparai', 'IND', 'Tamil Nadu', 106523)
(1334, 'Champdani', 'IND', 'West Bengali', 98818)
(1335, 'Orai', 'IND', 'Uttar Pradesh', 98640)
(1336, 'Pudukkottai', 'IND', 'Tamil Nadu', 98619)
(1339, 'Palayankottai', 'IND', 'Tamil Nadu', 97662)
(1350, 'Dehri', 'IND', 'Bihar', 94526)
(1361, 'Baidyabati', 'IND', 'West Bengali', 90601)
(1362, 'Morvi', 'IND', 'Gujarat', 90357)