In [3]:
#Python Database iteraction
import MySQLdb

#open the database connection
db = MySQLdb.connect("localhost","root","root","python_db")

#creating cursor object
cursor = db.cursor()

#executing sql query
cursor.execute("select version()")

#fetch a single row using fetchone()
data = cursor.fetchone()

print("Current database version :",data)

#close the connection
db.close()

Current database version : ('5.7.31-log',)

In [6]:
#Python Database- Read operation
import MySQLdb

#open the database connection
db = MySQLdb.connect("localhost","root","root","python_db")

#creating cursor object
cursor = db.cursor()

#executing sql query
cursor.execute("select * from student")

#fetch a single row using fetchone()
#data = cursor.fetchone()
#data = cursor.fetchall()
data = cursor.fetchmany(2)
for row in data:
    print(row)

#close the connection
db.close()

(101, 'John', 'Python', 79.0)
(102, 'Williams', 'Django', 90.0)

In [7]:
#Python - Dynamic table creation-
import MySQLdb

#open the database connection
db = MySQLdb.connect("localhost","root","root","python_db")

#creating cursor object
cursor = db.cursor()

sqlquery="create table product(pid int primary key,name varchar(45),quantity int,price float)"
#executing sql query
cursor.execute(sqlquery)

print("Table created successfully.....!")
#close the connection
db.close()

Table created successfully.....!

In [9]:
#Python -Insertion operation
import MySQLdb

#open the database connection
db = MySQLdb.connect("localhost","root","root","python_db")

#creating cursor object
cursor = db.cursor()

sqlquery="insert into product(pid,name,quantity,price) values(1001,'Laptop',100,45000.50)"
try:
    #executing sql query
    cursor.execute(sqlquery)
    #commit the changes into a database table
    db.commit()
except:
    #Rollback in case there is any error occured
    db.rollback()

print("Record inserted successfully.....!")
#close the connection
db.close()

Record inserted successfully.....!

In [10]:
#Python -Insertion operation

import MySQLdb

print("====== Accepting product details ======")

pid=int(input("Enter pid :"))
name=input("Enter product name:")
qty=int(input("Enter quantity :"))
price=float(input("Enter price :"))

#open the database connection
db = MySQLdb.connect("localhost","root","root","python_db")

#creating cursor object
cursor = db.cursor()

sqlquery="insert into product(pid,name,quantity,price) values(%s,%s,%s,%s)"
try:
    #executing sql query
    cursor.execute(sqlquery,(pid,name,qty,price))
    #commit the changes into a database table
    db.commit()
except:
    #Rollback in case there is any error occured
    db.rollback()

print("Record inserted successfully.....!")
#close the connection
db.close()

====== Accepting product details ======
Enter pid :1002
Enter product name:Desktop
Enter quantity :200
Enter price :25000
Record inserted successfully.....!

In [12]:
#Python -update operation

import MySQLdb

print("====== Accepting product details ======")

pid=int(input("Enter pid whose record u want to update :"))
qty=int(input("Enter updated quantity :"))
price=float(input("Enter updated price :"))

#open the database connection
db = MySQLdb.connect("localhost","root","root","python_db")

#creating cursor object
cursor = db.cursor()

sqlquery="update product set quantity=%s , price=%s where pid=%s"
try:
    #executing sql query
    cursor.execute(sqlquery,(qty,price,pid))
    #commit the changes into a database table
    db.commit()
except:
    #Rollback in case there is any error occured
    db.rollback()

print("Record updated successfully.....!")
#close the connection
db.close()

====== Accepting product details ======
Enter pid whose record u want to update :1002
Enter updated quantity :150
Enter updated price :30000
Record updated successfully.....!

In [14]:
#Python -Delete operation

import MySQLdb

print("====== Accepting product details ======")

pid=int(input("Enter pid whose record u want to delete :"))

#open the database connection
db = MySQLdb.connect("localhost","root","root","python_db")

#creating cursor object
cursor = db.cursor()

sqlquery="delete from product where pid=%s"
try:
    #executing sql query
    cursor.execute(sqlquery,(pid,))
    #commit the changes into a database table
    db.commit()
except:
    #Rollback in case there is any error occured
    db.rollback()

print("Record deleted successfully.....!")
#close the connection
db.close()

====== Accepting product details ======
Enter pid whose record u want to delete :1002
Record deleted successfully.....!