In [2]:
#Python script - Decimal values
import decimal

print(decimal.Decimal(0.1))

0.1000000000000000055511151231257827021181583404541015625

In [4]:
from decimal import Decimal as D

print(D('1.2')+D('2.2'))

3.4

In [6]:
import fractions

print(fractions.Fraction(0.5))

1/2

In [7]:
import fractions

print(fractions.Fraction(1/2))

1/2

In [12]:
print(1.2+2.3)

n1=1.2
n2=2.3
print(type(n1))
print(n1+n2)

3.5
<class 'float'>
3.5

In [17]:
import math

print(math.pi)
print(math.cos(math.pi))
print(math.exp(10))

3.141592653589793
-1.0
22026.465794806718

In [21]:
import math

n=int(input('Enter any no. :'))
fact = math.factorial(n)
print('Factorial of ',n,' is : ',fact)

Enter any no. :5
Factorial of  5  is :  120

In [22]:
# Python List:-
student = [101,'Williams','Python',67.8]
print(student)

[101, 'Williams', 'Python', 67.8]

In [24]:
# Python List:-
student = [101,'Williams','Python',67.8]
print("Name   : ",student[1])
print("course : ",student[2])

Name   :  Williams
course :  Python

In [25]:
#update element inside a list
student = [101,'Williams','Python',67.8]

print(student)

student[2]="django"

print(student)

[101, 'Williams', 'Python', 67.8]
[101, 'Williams', 'django', 67.8]

In [28]:
name='Williams'
student = [101,name,'Python',67.8]
print(student)

[101, 'Williams', 'Python', 67.8]

In [30]:
student = [101,name,'Python',67.8]
print(student[3])

67.8

In [31]:
#deleting  list
course=['C','C++','Python','Django','JAVA']
print(course)
del course
print(course)

['C', 'C++', 'Python', 'Django', 'JAVA']

NameError: name 'course' is not defined

In [33]:
course=['C','C++','Python','Django','JAVA']
print(course)
course.remove('JAVA')
print(course)
course.clear()
print(course)

['C', 'C++', 'Python', 'Django', 'JAVA']
['C', 'C++', 'Python', 'Django']
[]

In [34]:
#diff operation list
course=['C','C++','Python','Django','JAVA']
print('Total courses : ',len(course))

Total courses :  5

In [35]:
marks=[56,78,90,45,67]
print('max : ',max(marks))

max :  90

In [36]:
marks=[56,78,90,45,67]
print('Min : ',min(marks))

Min :  45

In [37]:
course=['C','C++','Python','Django','JAVA']
print(course)
course.append('PHP')
print(course)

['C', 'C++', 'Python', 'Django', 'JAVA']
['C', 'C++', 'Python', 'Django', 'JAVA', 'PHP']

In [40]:
course=['C','C++','Python','Django','JAVA']
course.insert(7,'Pyramid')
print(course)

['C', 'C++', 'Python', 'Django', 'JAVA', 'Pyramid']

In [42]:
course=['C','C++','Python','Django','JAVA']
print(course)
course.reverse()
print(course)

['C', 'C++', 'Python', 'Django', 'JAVA']
['JAVA', 'Django', 'Python', 'C++', 'C']

In [46]:
marks=[56,78,90,45,67]
print(marks)
marks.sort()
print(marks)
marks.sort(reverse=True)
print(marks)

[56, 78, 90, 45, 67]
[45, 56, 67, 78, 90]
[90, 78, 67, 56, 45]

In [49]:
course1=['C','C++','Python','Django','JAVA']
course2=['Html5','CSS3','JScript']

print(course1)
course1.extend(course2)
print(course1)
print(course1+['MySql','MSSql','Oracle'])

print(course1)

['C', 'C++', 'Python', 'Django', 'JAVA']
['C', 'C++', 'Python', 'Django', 'JAVA', 'Html5', 'CSS3', 'JScript']
['C', 'C++', 'Python', 'Django', 'JAVA', 'Html5', 'CSS3', 'JScript', 'MySql', 'MSSql', 'Oracle']
['C', 'C++', 'Python', 'Django', 'JAVA', 'Html5', 'CSS3', 'JScript']

In [50]:
course2=['Html5','CSS3','JScript']
print(course2 * 2)

['Html5', 'CSS3', 'JScript', 'Html5', 'CSS3', 'JScript']

In [59]:
course=['H','e','l','l','o',' ','P','y','t','h','o','n']
print(course)
print(course[6:])
print(course[6:9])
print(course[:-7])
print(course[-12:-7])

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']
['P', 'y', 't', 'h', 'o', 'n']
['P', 'y', 't']
['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']