In [1]:
#Python MySQL - Database connectivity.......!

import MySQLdb

print("MySQLdb API imported successfully...!")

MySQLdb API imported successfully...!

In [2]:
#importing MySQL API
import MySQLdb

#establishing database connection
dbcon = MySQLdb.connect('localhost','root','root','python2_db')

#cursor object creation
cursorobj = dbcon.cursor()

#executing SQL Queries using execute().....
cursorobj.execute("select * from student")

#fetching a single row using fetchone().....
data = cursorobj.fetchone()

print(data)

#closing the connection
dbcon.close()

(1, 'Surabhi', 'Python', 80.0)

In [4]:
#importing MySQL API
import MySQLdb

#establishing database connection
dbcon = MySQLdb.connect('localhost','root','root','python2_db')

#cursor object creation
cursorobj = dbcon.cursor()

#executing SQL Queries using execute().....
cursorobj.execute("select * from student")

#fetching all rows using fetchall().....
data = cursorobj.fetchall()

for var in data:
    print(var[0]," ",var[1]," ",var[2]," ",var[3])

#closing the connection
dbcon.close()

1   Surabhi   Python   80.0
2   Sadhna   Data Science   90.0
3   Firdaus   Python Full Stack Developer   90.0

In [11]:
#importing MySQL API
import MySQLdb

#establishing database connection
dbcon = MySQLdb.connect('localhost','root','root','python2_db')

#cursor object creation
cursorobj = dbcon.cursor()

#executing SQL Queries using execute().....
cursorobj.execute("select * from student")

#fetching exact no of rows using fetchmany().....
data= cursorobj.fetchmany(2)

for var in data:
    print("SID :",var[0]," Name :",var[1]," Course :",var[2]," Marks :",var[3])

#closing the connection
dbcon.close()

SID : 1  Name : Surabhi  Course : Python  Marks : 80.0
SID : 2  Name : Sadhna  Course : Data Science  Marks : 90.0

In [14]:
#Python - MySQL = Dynamically table creation......

import MySQLdb

dbcon = MySQLdb.connect('localhost','root','root','python2_db')

cursor = dbcon.cursor()

cursor.execute("drop table if exists customer")

sqlquery = "create table customer(cid int primary key,name varchar(45), email varchar(80))"

cursor.execute(sqlquery)

print("Table created successfully....!")

dbcon.close()

C:\Users\Rajesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: Warning: (1051, "Unknown table 'python2_db.customer'")
  if __name__ == '__main__':

Table created successfully....!

In [15]:
#Python - MySQL - Insertion

import MySQLdb

dbcon = MySQLdb.connect('localhost','root','root','python2_db')

cursor = dbcon.cursor()

sqlquery = "insert into customer(cid,name,email) values(101,'John','john@gmail.com')"

try:
    #executing the query
    cursor.execute(sqlquery)
    
    #commit the changes
    dbcon.commit()
    print("Record inserted succesfully....!")
    
except:
    #Rollback the changes
    dbcon.rollback()
    
dbcon.close()

Record inserted succesfully....!

In [23]:
#Python - MySQL - Insertion Dynamically

import MySQLdb

'''
custRecord=[]
custRecord.append(int(input('Enter customer ID :')))
custRecord.append(input('Enter customer NAME :'))
custRecord.append(input('Enter customer EMAIL :'))
'''
cid=int(input('Enter customer ID :'))
nm = input('Enter customer NAME :')
em = input('Enter customer EMAIL :')

dbcon = MySQLdb.connect('localhost','root','root','python2_db')

cursor = dbcon.cursor()

sqlquery = "insert into customer(cid,name,email) values("+str(cid)+","+nm+","+em+")"

try:
    #executing the query
    cursor.execute(sqlquery)
    
    #commit the changes
    dbcon.commit()
    print("Record inserted succesfully....!")
    
except Exception as e:
    print(e)
    #Rollback the changes
    dbcon.rollback()
    
dbcon.close()

Enter customer ID :103
Enter customer NAME :aa
Enter customer EMAIL :aa
Record inserted succesfully....!

In [24]:
#Python - update operation

import MySQLdb

print("===== Accepting  customer Details =====")
cid=int(input('Enter CID whose record u want to update :'))
name = input('Enter update NAME :')
email = input('Enter updated EMAIL :')

dbcon = MySQLdb.connect('localhost','root','root','python2_db')

cursor = dbcon.cursor()

sqlquery = "update customer set name=%s, email=%s where cid = %s"

try:
    #executing the query
    cursor.execute(sqlquery,(name,email,cid))
    
    #commit the changes
    dbcon.commit()
    print("Record updated succesfully....!")
    
except Exception as e:
    print(e)
    #Rollback the changes
    dbcon.rollback()
    
dbcon.close()

===== Accepting  customer Details =====
Enter CID whose record u want to update :103
Enter update NAME :Allen
Enter updated EMAIL :allen@gmail.com
Record updated succesfully....!

In [25]:
#Python - delete operation

import MySQLdb

print("===== Accepting  customer Details =====")
cid=int(input('Enter CID whose record u want to delete :'))

dbcon = MySQLdb.connect('localhost','root','root','python2_db')

cursor = dbcon.cursor()

sqlquery = "delete from customer where cid = %s"

try:
    #executing the query
    cursor.execute(sqlquery,(cid,))
    
    #commit the changes
    dbcon.commit()
    print("Record deleted succesfully....!")
    
except Exception as e:
    print(e)
    #Rollback the changes
    dbcon.rollback()
    
dbcon.close()

===== Accepting  customer Details =====
Enter CID whose record u want to delete :102
Record deleted succesfully....!

In [27]:
#Python - delete operation

import MySQLdb

dbcon = MySQLdb.connect('localhost','root','root','python2_db')

cursor = dbcon.cursor()

sqlquery = "select * from customer"

try:
    #executing the query
    cursor.execute(sqlquery)
    
    data = cursor.fetchall()
    
    print("Total no. of records :",len(data))
   
except Exception as e:
    print(e)
    #Rollback the changes
    dbcon.rollback()
    
dbcon.close()

Total no. of records : 2