In [1]:
#Python: Tuple data str.
course =("C","C++","JAVA","Python","Django")
print(course)

('C', 'C++', 'JAVA', 'Python', 'Django')

In [2]:
student=(101,"Allen","Python",78.5)
print(student)

(101, 'Allen', 'Python', 78.5)

In [3]:
student=(101,"Allen","Python",78.5)
print("Marks : ",student[-1])

Marks :  78.5

In [7]:

student=(101,"Allen","Python",78.5)
del student
print("Tuple deleted successfully...!")
print(student)

Tuple deleted successfully...!

NameError: name 'student' is not defined

In [9]:
#Operators insdie the Tuple:-
# concatenation(+)
t1 =(1,3,5)
t2=(2,4,6)

print(t1+t2)
print(t2+(7,))

(1, 3, 5, 2, 4, 6)
(2, 4, 6, 7)

In [11]:
#Operators insdie the Tuple:-
# Repetition(*)
t1 =(1,3,5)
print(t1*2)

(1, 3, 5, 1, 3, 5)

In [12]:
#Operators insdie the Tuple:-
# slice([])
t1 =(1,2,3,4,5,6)
print(t1[3])
print(t1[-2])

4
5

In [13]:
#Operators insdie the Tuple:-
# range([:])
t1 =(1,2,3,4,5,6)
print(t1[:3])

(1, 2, 3)

In [17]:
#Operators insdie the Tuple:-
# in (reutrns true if an item exists int the tuple)
t1 =('C',"C++","JAVA","Python","Django")
print("Pyramid" in t1)

False

In [19]:
#Operators insdie the Tuple:-
# in (reutrns true if an item not exists int the tuple)
t1 =('C',"C++","JAVA","Python","Django")
print("Pyramid" not in t1)

True

In [21]:
#Operators insdie the Tuple:-
# Built-in mehods
t1 =(1,2,3,4,5,6)
print("Length : ",len(t1))
print("Max : ",max(t1))

Length :  6
Max :  6

In [24]:
marks=(56,78,90,23)
print("Maximum marks : ",max(marks))
print("Minimum marks : ",min(marks))

Maximum marks :  90
Minimum marks :  23

In [25]:
t1 =(1,2,3,4,5,6)
t1[0]=11
print(t1)

TypeError: 'tuple' object does not support item assignment

In [27]:
t1 = (101,['John','Python',56.5],"ABC")
print(t1)
t1[1][2]=86.5
print(t1)

(101, ['John', 'Python', 56.5], 'ABC')
(101, ['John', 'Python', 86.5], 'ABC')

In [28]:
t1 = (101,['John','Python',56.5],"ABC")
print(t1)
t1.replace("56.5","86.5")
print(t1)

(101, ['John', 'Python', 56.5], 'ABC')

AttributeError: 'tuple' object has no attribute 'replace'

In [31]:
#Python set demons:-
stud1 = {101,"Kelly",89,78,90,60,89}
print(stud1)

{101, 'Kelly', 78, 89, 90, 60}

In [32]:
#set() python
s1=set("Python")
print(s1)

{'t', 'h', 'P', 'o', 'n', 'y'}

In [34]:
marks=(56,78,90,23,23)
print(marks)
s3=set(marks)
print(s3)

(56, 78, 90, 23, 23)
{56, 90, 78, 23}

In [36]:
#Operation in Python on set
#Uniuon (|)
s1={1,3,5}
s2={2,4,6}
print(s1|s2)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 3, 5}

In [37]:
#Operation in Python on set
#Uniuon (union())
s1={1,3,5}
s2={2,4,6}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}

In [40]:
#Operation in Python on set
#intersection (&)
s1={1,2,3,4}
s2={2,3,5,6}
print(s1&s2)
print(s1.intersection(s2))

{2, 3}
{2, 3}

In [42]:
#Operation in Python on set
#diff (-)
s1={1,2,3,4}
s2={2,3,5,6}
print(s1-s2)
print(s2-s1)

{1, 4}
{5, 6}

In [43]:
#Operation in Python on set
#diff (-)
s1={1,2,3,4}
s2={2,3,5,6}
print(s1.difference(s2))

{1, 4}

In [45]:
#Operation in Python on set
#Symmetric diff. (^)
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print(s1^s2)
print(s1.symmetric_difference(s2))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [46]:
#in-built
#add()
stud1={101,"Donald","Python"}
stud1.add(79)
print(stud1)

{'Python', 101, 79, 'Donald'}

In [52]:
#in-built
#update()
stud1={101,"Donald","Python"}
stud1.update(('donald@gmail.com',79))
print(stud1)
stud1.clear()
stud1

{101, 79, 'Donald', 'donald@gmail.com', 'Python'}

set()

In [53]:
s1={"Python","Django"}
s2=s1.copy()
print(s2)

{'Django', 'Python'}

In [60]:
s1={"Python","Django"}
s1.discard("Pyramid")
s1

{'Django', 'Python'}

In [59]:
s1={"Python","Django"}
s1.remove("Pyramid")
s1

KeyError: 'Pyramid'

In [63]:
stud1={101,"Donald","Python"}
stud1.update(("don@gmail.com",))
print(stud1)

{'don@gmai.com', 'Python', 101, 'Donald'}

In [64]:
#Python- Dictionay demos.....
country ={"IND":"India","AUS":"Australia","CHN":"China"}
print(country)

{'IND': 'India', 'AUS': 'Australia', 'CHN': 'China'}

In [67]:
dict ={"color":["Red","Green","Blue"],"course":["Python","Django","Pyramid"]}
print(dict.get("color"))

['Red', 'Green', 'Blue']

In [76]:
dict1 ={1:"red"}
print(dict1)
dict1[1]="Green"
print(dict1)
del dict1
print(dict1)

{1: 'red'}
{1: 'Green'}

NameError: name 'dict1' is not defined

In [78]:
#Python- Dictionay demos.....
country ={"IND":"India","AUS":"Australia","CHN":"China"}
print(country.keys())
print(country.values())

dict_keys(['IND', 'AUS', 'CHN'])
dict_values(['India', 'Australia', 'China'])

In [84]:
d1={"name":"Elly","marks":89}
d2={"name":"Shally","marks":90}
students={101:d1,102:d2}
print(students.get(101))
print("Marks of second student :",students[102]['marks'])

{'name': 'Elly', 'marks': 89}
Marks of second student : 90