In [2]:
print(0b100)

4

In [5]:
import fractions
print(fractions.Fraction(1.1))
print(fractions.Fraction('1.1'))

2476979795053773/2251799813685248
11/10

In [7]:
import math

print(math.pi)

3.141592653589793

In [10]:
import math

num = int(input('Enter any number'))
print (math.factorial(num))

Enter any number7
5040

In [11]:
import math

print(math.cos(math.pi))

-1.0

In [14]:
my_list = ['P','Y','T','H','O','N']
print(my_list[-1])

N

In [16]:
course_list = ["C","C++","Python","JAVA"]
print(course_list[-2])

Python

In [17]:
product_list = [1001,"Laptop",50000,5]
print('Laptop price is : ',product_list[2])

Laptop price is :  50000

In [20]:
n_list = ["Happy", [2,0,1,5]]
print(n_list[0][1])
print(n_list[0])
print(n_list[1][0])

a
Happy
2

In [24]:
odd =[2,4,6,8]
print(odd)
odd[0] =1
print(odd)
odd[1:3] = [3,5]  
print(odd)

[2, 4, 6, 8]
[1, 4, 6, 8]
[1, 3, 5, 8]

In [25]:
my_list = [1,2,3,4,5]
my_list[2::2] = [0,0]
print(my_list)

[1, 2, 0, 4, 0]

In [30]:
n_list = [[0,0,0,0], [1,1,1,1]]
n_list[0][1:3] =[2,2] 
n_list[1][2:4] =[4,4]
print(n_list[0])
print(n_list[1])

print(n_list)

[0, 2, 2, 0]
[1, 1, 4, 4]
[[0, 2, 2, 0], [1, 1, 4, 4]]

In [4]:
course_lst = ["Python","Hibernate","Ionic","Jquery"]
print('Original list ',course_lst)
course_lst[1] = "Bootstrap"
print('update list : ',course_lst)
course_lst.append("Angular")
print('Final list : ',course_lst)
course_lst.extend(["Flask","Django","Pyramid"])
print('List ',course_lst)

Original list  ['Python', 'Hibernate', 'Ionic', 'Jquery']
update list :  ['Python', 'Bootstrap', 'Ionic', 'Jquery']
Final list :  ['Python', 'Bootstrap', 'Ionic', 'Jquery', 'Angular']
List  ['Python', 'Bootstrap', 'Ionic', 'Jquery', 'Angular', 'Flask', 'Django', 'Pyramid']

In [5]:
print(["pyhton"]*2)

['pyhton', 'pyhton']

In [6]:
#sclicing elements
my_list = ['p','r','o','g','r','a','m','i','z','z','z']
# elements 3rd to 5th
print(my_list[2:5])  

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[-5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g', 'r', 'a']
['m', 'i', 'z', 'z', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z', 'z', 'z']

In [13]:
odd = [1, 9, 10, 20]
odd.insert(1,3)
print(odd)

#syntax :- insert(pos,element)

odd.insert(4,15)
print(odd)

[1, 3, 9, 10, 20]
[1, 3, 9, 10, 15, 20]

In [15]:
#deletion operstion in list....
#Deleting items from the list
my_list = ['p','r','o','b','l','e','m']

# delete one item
del my_list[2]

# Output: ['p', 'r', 'b', 'l', 'e', 'm']     
print(my_list)

# delete multiple items
del my_list[1:5]  

# Output: ['p', 'm']
print(my_list)

# delete entire list
del my_list       

# Error: List not defined
#print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [23]:
color_lst = ["REd","Green","blue","blue"]
#if no index no. is specified in pop paramater then it will pop last element from the list
color_lst.pop()

"""print(color_lst)
color_lst.pop(1)
print(color_lst)
color_lst.remove("blue")
print(color_lst)
color_lst.pop()"""
print(color_lst)
color_lst.clear()
print(color_lst)

['REd', 'Green', 'blue']
[]

In [34]:
my_lst = ["John","Williams","John","Allen","John"]
print('Total John nmed students :',my_lst.count("John"))
print('Total student ',len(my_lst))

Total John nmed students : 3
Total student  5

In [33]:
my_lst = ["John","Williams","Harry"]
print("allen" in my_lst)

False