In [15]:
student={101,"Donald",89.4}
student.add("donald12@gmail.com")
student.update(["Python","USA"])
print(student)

{'Donald', 'USA', 101, 'Python', 'donald12@gmail.com', 89.4}

In [2]:
s1 = {1,2,3,4,4,5,6,6,7}
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [4]:
s2=set("Python")
print(s2)
print(type(s2))

{'o', 'y', 't', 'P', 'h', 'n'}
<class 'set'>

In [6]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
#print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [8]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
#print(s1&s2)
print(s1.intersection(s2))

{3, 4, 5}

In [11]:
s1 = {1,2,3,4,5} 
s2 = {4,5,6,7,8}
print(s1-s2)
print(s2-s1)

{1, 2, 3}
{8, 6, 7}

In [13]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1^s2)
print(s1.symmetric_difference(s2))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [16]:
student={101,"Donald",89.4}
print(student)
student.clear()
print(student)

{89.4, 'Donald', 101}
set()

In [17]:
student={101,"Donald",89.4}
stud_copy = student.copy()
print(stud_copy)

{89.4, 'Donald', 101}

In [19]:
student={101,"Donald",89.4}
student.discard(89.4)
print(student)
student.discard(89.4)

{'Donald', 101}

In [21]:
student={101,"Donald",89.4}
student.remove(89.4)
print(student)
student.remove(89.4)

{'Donald', 101}

KeyError: 89.4