In [11]:
import  MySQLdb

conn = MySQLdb.connect('localhost','root','root')
if conn:
    conn.select_db("pythondb")
    cursor = conn.cursor();
    cursor.execute("select * from student")
    
    data = cursor.fetchall()
    for row in data:
        print("Sid    : ",str(row[0]))
        print("Name   : ",row[1])
        print("course : ",row[2])
        print("Marks  : ",str(row[3]))
        print("----------------------")
else:
    print("Failed to connect....!")
conn.close()

Sid    :  101
Name   :  Kelly
course :  Python
Marks  :  89.5
----------------------
Sid    :  102
Name   :  Allen
course :  Python
Marks  :  90.0
----------------------
Sid    :  103
Name   :  Donald
course :  JAVA
Marks  :  78.0
----------------------
Sid    :  104
Name   :  Smith
course :  Django
Marks  :  98.0
----------------------

In [10]:
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
if conn:
    conn.select_db("pythondb")
    cursor=conn.cursor();
    cursor.execute("insert into student values("+str(104)+",'Smith','Django',"+str(98)+")");
    conn.commit()
    print("Record saved successfully...!")
else:
    print("Connection cannot established.....!")
conn.close()

Record saved successfully...!

In [8]:
#Step 1 - Importing MySQLdb module
import MySQLdb


#Step 2 - Establish a Connection
conn = MySQLdb.connect('localhost', user='root', password='root')

if conn:
	print("Connection Established")
else:
	print("Connection Failed")


#Step 3 - Select Database

conn.select_db("pythondb")

#Step 4 - Create Cursor object

cursor = conn.cursor()

#Step 5 - Execute Query 

sid=int(input("Enter sId : "))
name=input("Enter Name : ")
course=input("Enter Course : ")
marks=float(input("Enter marks : "))

cursor.execute("insert into student values("+str(sid)+",'"+name+"','"+course+"',"+str(marks)+")")
conn.commit()
#Step 6 - Close the Connection
conn.commit()
conn.close()

Connection Established
Enter sId : 103
Enter Name : Donald
Enter Course : JAVA
Enter marks : 78

In [13]:
import MySQLdb

conn = MySQLdb.connect('localhost', user='root', password='root')

if conn:
        conn.select_db("pythondb")
        cursor = conn.cursor()
        cursor.execute("select * from student")
        data=cursor.fetchall()
        print("SId\tName\t\tCourse\t\tMarks")
        for r in data:
                id=r[0]
                name=r[1]
                course=r[2]
                marks=r[3]
                
                print(str(id)+"\t"+name+"\t\t"+course+"\t\t"+str(marks))
else:
        print("Connection Failed")

SId	Name		Course		Marks
101	Kelly		Python		89.5
102	Allen		Python		90.0
103	Donald		JAVA		78.0
104	Smith		Django		98.0

In [1]:
#dynamic table creation
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
try:
    conn.select_db("pythondb")
    cur = conn.cursor()
    cur.execute('create table product(pid int primary key auto_increment, name varchar(30),quantity int,price float)')
    conn.commit()
    print("Table created successfully.............!")
except:
    print('Error in operation....! Try agin.')
    conn.rollback()
conn.close()

Table created successfully.............!

In [11]:
#insert operation using executemany() (list of tuples)
import MySQLdb
conn = MySQLdb.connect('localhost','root','root')

qry = "insert into product(name,quantity,price) values(%s,%s,%s)"
products = [('Keyboard',500,465),('Mouse',200,150),('Laptop',100,45000)]
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.executemany(qry,products)
    conn.commit()
    print("Records added successfully...!")
except Exception as e:
    print('Error in operation....! Try again.',e)
    conn.rollback()
conn.close()

Records added successfully...!

In [12]:
#fetching the records using fetchone()
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
qry = "select * from product;"
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.execute(qry)
    while True:
            record = cur.fetchone()
            if record==None:
                break
            print(record)
except Exception as e:
    print("Error in operation : ",e)
conn.close()

(1, 'Keyboard', 500, 465.0)
(2, 'Mouse', 200, 150.0)
(3, 'Laptop', 100, 45000.0)

In [14]:
#fetching the records using fetchall()
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
qry = "select * from product;"
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.execute(qry)
    products = cur.fetchall()
    for rec in products:
        print(rec)
except Exception as e:
    print("Error in operation : ",e)
conn.close()

(1, 'Keyboard', 500, 465.0)
(2, 'Mouse', 200, 150.0)
(3, 'Laptop', 100, 45000.0)

In [15]:
#fetching the records using fetchall() in grid format
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
qry = "select * from product;"
print("PId\tName\t\tQuantity\t\tPrice")
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.execute(qry)
    products = cur.fetchall()
    for rec in products:
        pid=rec[0]
        name=rec[1]
        qty=rec[2]
        price=rec[3]
        print(str(pid)+"\t"+name+"\t\t"+str(qty)+"\t\t"+str(price))
except Exception as e:
    print("Error in operation : ",e)
conn.close()

PId	Name		Quantity		Price
2	Mouse		200		150.0
3	Laptop		100		45000.0

In [22]:
#count total records 
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
qry = "select * from product;"
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.execute(qry)
    print("Total products are : ",cur.rowcount)
except Exception as e:
    print("Error in operation : ",e)
conn.close()

Total products are :  3

In [8]:
#update operation
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
qry = "update product set name=%s where pid=%s;"
pid = int(input('Enter product id whose name u want to update : '))
name = input("Enter product new name :")
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.execute(qry,(name,pid))
    conn.commit()
    print("Record updated successfully...!")
except Exception as e:
    print("Error in operation : ",e)
    conn.rollback()
conn.close()

Enter product id whose name u want to update : 1
Enter product new name :Charger
Record updated successfully...!

In [14]:
#delete operation
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
qry = "delete from product where pid=%s;"
pid = int(input('Enter product id whose record u want to delete : '))
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.execute(qry,(pid,))
    conn.commit()
    print("Record deleted successfully...!")
except Exception as e:
    print("Error in operation : ",e)
    conn.rollback()
conn.close()

Enter product id whose record u want to delete : 1
Record deleted successfully...!

In [16]:
import MySQLdb

con=MySQLdb.connect('localhost','root','root')
con.select_db('pydb')
cur=con.cursor()


def PrintRow(a,b,c,d,e):
    print(a + " "*(10-len(a)) , end="")
    print(b + " "*(30-len(b)) , end="")
    print(c + " "*(20-len(c)) , end="")
    print(d + " "*(8-len(d)) , end="")
    print(e + " "*(8-len(e)) , end="")
    print()
    print("-"*90)




def AddRecord():
    #Data Input
    id=int(input("Enter Id : "))
    name=input("Enter Name : ")
    brand=input("Enter Brand : ")
    price=float(input("Enter Price : "))
    stock=int(input("Enter Stock : "))

    stmt="insert into product values(%s,%s,%s,%s,%s)"
    parameters=(id,name,brand,price,stock)

    cur.execute(stmt,parameters)
    con.commit()
           

def DisplayRecord():
    #Data Output
    stmt="select * from product"
    cur.execute(stmt)
    records=cur.fetchall()
    PrintRow("Id","Name","Brand","Price","Stock")    
    for record in records:
        PrintRow(str(record[0]),record[1],record[2],str(record[3]),str(record[4]))

def SearchRecord():
    name=input("Enter Name : ")
    parameters=(name,)
    stmt="select * from product where name=%s"
    cur.execute(stmt,parameters)
    records=cur.fetchall()
    PrintRow("Id","Name","Brand","Price","Stock")    
    for record in records:
        PrintRow(str(record[0]),record[1],record[2],str(record[3]),str(record[4]))
    

def DeleteRecord():
    name=input("Enter Name : ")
    parameters=(name,)
    stmt="delete from product where name=%s"
    cur.execute(stmt,parameters)
    con.commit()


def UpdateRecord():
    name=input("Enter Name : ")
    price=input("Enter New Price : ")
    parameters=(price,name)
    stmt="update product set price=%s where name=%s"
    cur.execute(stmt,parameters)
    con.commit()


while(True):
    print("1. Add New Record")
    print("2. Display Records")
    print("3. Search Record")
    print("4. Delete Record")
    print("5. Update Record")
    print("0. Exit")

    choice=int(input("Enter Choice : "))

    if(choice==1):
        AddRecord()
    elif(choice==2):
        DisplayRecord()
    elif(choice==3):
        SearchRecord()
    elif(choice==4):
        DeleteRecord()
    elif(choice==5):
        UpdateRecord()
    elif(choice==0):
        con.close()
        break
    else:
        print("Please Try Again!")

1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 2
Id        Name                          Brand               Price   Stock
------------------------------------------------------------------------------------------
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 1
Enter Id : 1001
Enter Name : Mouse
Enter Brand : Logitech
Enter Price : 450
Enter Stock : 100
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 2
Id        Name                          Brand               Price   Stock
------------------------------------------------------------------------------------------
1001      Mouse                         Logitech            450.0   100
------------------------------------------------------------------------------------------
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 1
Enter Id : 1002
Enter Name : Keyborad
Enter Brand : Intex
Enter Price : 750
Enter Stock : 200
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 1
Enter Id : 1003
Enter Name : Laptop
Enter Brand : Dell
Enter Price : 50000
Enter Stock : 10
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 2
Id        Name                          Brand               Price   Stock
------------------------------------------------------------------------------------------
1001      Mouse                         Logitech            450.0   100
------------------------------------------------------------------------------------------
1002      Keyborad                      Intex               750.0   200
------------------------------------------------------------------------------------------
1003      Laptop                        Dell                50000.0 10
------------------------------------------------------------------------------------------
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 5
Enter Name : Keyboard
Enter New Price : 750
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 2
Id        Name                          Brand               Price   Stock
------------------------------------------------------------------------------------------
1001      Mouse                         Logitech            450.0   100
------------------------------------------------------------------------------------------
1002      Keyborad                      Intex               750.0   200
------------------------------------------------------------------------------------------
1003      Laptop                        Dell                50000.0 10
------------------------------------------------------------------------------------------
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 3
Enter Name : Laptop
Id        Name                          Brand               Price   Stock
------------------------------------------------------------------------------------------
1003      Laptop                        Dell                50000.0 10
------------------------------------------------------------------------------------------
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 4
Enter Name : Laptop
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 2
Id        Name                          Brand               Price   Stock
------------------------------------------------------------------------------------------
1001      Mouse                         Logitech            450.0   100
------------------------------------------------------------------------------------------
1002      Keyborad                      Intex               750.0   200
------------------------------------------------------------------------------------------
1. Add New Record
2. Display Records
3. Search Record
4. Delete Record
5. Update Record
0. Exit
Enter Choice : 0

In [20]:
#fetching the records using fetchone()
import MySQLdb

conn = MySQLdb.connect('localhost','root','root')
qry = "select * from product where pid=%s;"
pid=int(input('Enter pid whose details u want to search: '))
try:
    conn.select_db('pythondb')
    cur = conn.cursor()
    cur.execute(qry,(pid,))
    record = cur.fetchone()
    if record==None:
        print("Invalid product id ...!Try again.....")
    else:
        print(record)
except Exception as e:
    print("Error in operation : ",e)
conn.close()

Enter pid whose details u want to search: 3
(3, 'Laptop', 100, 45000.0)