In [7]:
#Python - Tuple()......(immutable)

course=("C","C++","JAVA","Python","Django")

print(course)
print("We are learning : ",course[3])
print("Element :",course[-4])

('C', 'C++', 'JAVA', 'Python', 'Django')
We are learning :  Python
Element : C++

In [10]:
student=(101,'Williams','Python',80.5)
print(student)
del student
print("student naemed tuple deleted successfully...!")

(101, 'Williams', 'Python', 80.5)
student naemed tuple deleted successfully...!

In [12]:
#Python- operatos - tuple
# + - (concatenation op.)

c1=("C","C++","JAVA","Python","Django")
c2=('MySQL','Oracle','MSSQL')

print(c1+c2)
print(c1)
print(c2)

('C', 'C++', 'JAVA', 'Python', 'Django', 'MySQL', 'Oracle', 'MSSQL')
('C', 'C++', 'JAVA', 'Python', 'Django')
('MySQL', 'Oracle', 'MSSQL')

In [13]:
#Python- operatos - tuple
# * - (repetition op.)

c1=("C","C++","JAVA","Python","Django")

print(c1*2)

('C', 'C++', 'JAVA', 'Python', 'Django', 'C', 'C++', 'JAVA', 'Python', 'Django')

In [16]:
#Python- operatos - tuple
# [] - (slice op.)
c1=("C","C++","JAVA","Python","Django")
print(c1[1:3])
print(c1[:4])
print(c1[2:])

('C++', 'JAVA')
('C', 'C++', 'JAVA', 'Python')
('JAVA', 'Python', 'Django')

In [17]:
#Python- operatos - tuple
# in - ( op.)

c1=("C","C++","JAVA","Python","Django")
print('Django' in c1)

True

In [18]:
#Python- operatos - tuple
# not in - ( op.)

c1=("C","C++","JAVA","Python","Django")
print('Django' not in c1)

False

In [19]:
#Python - in -built functions.....
# len() - used to get length of a tuple

course=("C","C++","JAVA","Python","Django")

print("total courses : ",len(course))

total courses :  5

In [20]:
#Python - in -built functions.....
# max() - used to get maximum of a tuple

marks=(56,78,90,34,95)
print('maximum :',max(marks))

maximum : 95

In [21]:
#Python - in -built functions.....
# min() - used to get maximum of a tuple

marks=(56,78,90,34,95)
print('minimum :',min(marks))

minimum : 34

In [26]:
course=("aaa",'abc',"C++","JAVA","Python","Django")
print(min(course))
print(max(course))

C++
abc

In [30]:
n1 = 10
n2 = 20.5
print("class assoc - n1 :",type(n1))
print("class assoc - n2 :",type(n2))
n1+n2 #(arithemetic)

class assoc - n1 : <class 'int'>
class assoc - n2 : <class 'float'>

30.5

In [31]:
n1 = '10'
n2 = 20
print("class assoc - n1 :",type(n1))
print("class assoc - n2 :",type(n2))
n1+n2

class assoc - n1 : <class 'str'>
class assoc - n2 : <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [33]:
n1 = [10]
n2 = 20
print("class assoc - n1 :",type(n1))
print("class assoc - n2 :",type(n2))
n1+n2

class assoc - n1 : <class 'list'>
class assoc - n2 : <class 'int'>

TypeError: can only concatenate list (not "int") to list

In [36]:
student=(101,'Pattrick',['Data Science','Data Analytics'],'USA')
print("Roll    :",student[0])
print('Name    :',student[1])
print('Courses :',student[2])
print('Adresss :',student[3])
student[2][1]='Python with ML'
print(student)

Roll    : 101
Name    : Pattrick
Courses : ['Data Science', 'Data Analytics']
Adresss : USA
(101, 'Pattrick', ['Data Science', 'Python with ML'], 'USA')

In [41]:
student=(101,'Pattrick',['c','c++','HTML5','Data Analytics'],'USA')

course=student[2]
if 'Data Science' in course: 
    i =0
    for cr in course:
        if cr=='Data Science':
            break
        else:
            i+=1
    print('Data science is at index :',i)
else:
    print('Data Science course is not avaialble.')

Data Science course is not avaialble.

In [45]:
c1 =['C','C++']
c2 =['C','C++']

print(c1 is c2)
print(c1[0])
print(c2[0])

c2[0]="Python"

print(c1[0])
print(c2[0])

True
C
C
Python
Python

In [53]:
c1 =[1,2]
c2 =c1
print("c1 :",id(c1))
print("c2 :",id(c2))
print('is c1 = c2 :',c1 is c2)

a1=[1,2]
a2=[1,2]
print("a1 :",id(a1))
print("a2 :",id(a2))
print('is a1 = a2 :',a1 is a2)

c1 : 2519195210184
c2 : 2519195210184
is c1 = c2 : True
a1 : 2519196136648
a2 : 2519196135816
is a1 = a2 : False

In [55]:
x = 10
y = 10

print('id of x is :',id(x))
print('id of y is :',id(y))

x is y

id of x is : 140722889859760
id of y is : 140722889859760

True

In [57]:
course=('Python')
print(type(course))
print("Course name is :",course[0])

<class 'str'>
Course name is : P

In [64]:
import sys

print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [65]:
import mypackage

ModuleNotFoundError: No module named 'mypackage'